@import url(widgets.css); /* FIXME chrome://resources/css/ */

html, body, h3, ul, li, div {
    width: 240px;
    padding: 0px;
    margin: 0px;
    cursor: default;
    font-family: Verdana, Arial, Helvetica, 'Microsoft YaHei', Simsun;
    background-color: #FFF;
    -webkit-user-select: none;
}

li {
    list-style: none;
    width: auto;
    display: block;
    padding: 0px 4px;
    background-color: #FBFBFB;
}

li:nth-child(odd) {
    background-color: #F0F0F0;
}

li:hover {
    background-color: #BBE1FE;
}

img.icon {
    vertical-align: text-bottom;
    display: inline-block;
    margin-right: 4px;
}

a {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, 'Microsoft YaHei', Simsun;
    display: inline-block;
    -webkit-user-select: none;
}

a.link {
    width: 178px;
    color: #555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.link:hover {
    text-decoration: underline;
    color: #1688D8;
}

a.close-btn {
    width: 18px;
    text-align: center;
    visibility: hidden;
    color: #BF3434;
}

a.close-btn:hover {
    color: red;
}

li.item:hover a.close-btn {
    visibility: visible;
}

button.clear-all-btn, button.open-all-btn {
    font-size: 12px !important;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 110px;
    padding: 0px;
    margin: 8px !important;
    margin-top: 6px !important;
    display: inline-block;
    opacity: 0.5;
}

button.open-all-btn {
    margin-right: 2px !important;
}

button.open-all-btn:hover {
    opacity: 1.0;
}

button.clear-all-btn {
    margin-left: 2px !important;
    color: #9E0000 !important;
}

button.clear-all-btn:hover {
    opacity: 1.0;
}

#head, #list {
    font-weight: normal;
    display: block;
    padding: 0px;
}

#head {
    font-size: 16px;
    margin: 8px;
    text-shadow: rgba(50, 50, 50, .5) 1px 1px 4px;
}

#arrange-pane {
    color: #333;
    font-size: 12px;
    text-align: right;
    float: right;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.2;
}

#arrange-pane:hover {
	opacity: 1.0;
}

#scroll-pane {
    max-height: 528px;
    overflow: hidden;
    position: relative;
}

#scroll-pane:hover {
    overflow-y: auto;
}

#list {
    line-height: 22px;
    font-size: 14px;
    max-width: 224px;
    margin-left: 8px;
}
